<!--<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div class="menu">
      <i class="fa fa-arrow-left"></i>
      <h3>Main Menu</h3>
      <div class="cross">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <h1 style="padding-left: 15px; font-size: 18px; font-weight: 500;">Help</h1>
    <ul>
      <li><a href="#"><span class="icon"><i class="fa fa-question-circle" aria-hidden="true"
              style="font-size:20px ;"></i></span>
          <span class=" item" style="font-size:15px ;">Help Center</span><i class="fa fa-arrow-right" aria-hidden="true"
            style="float: right;"></i></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-phone" aria-hidden="true"
              style="font-size: 20px;"></i></span><span class="item" style="font-size:15px ;">Contact
            Support</span><i class="fa fa-arrow-right" aria-hidden="true" style="float:right ;"></i></a></li>

    </ul>


  </mat-sidenav>
  <mat-sidenav-content>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Monthly Sales</div>
            <div class="number">235</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Sales Rank</div>
            <div class="number">270,483</div>

          </div>

        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Price</div>
            <div class="number">6472.45</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Rating Number</div>
            <div class="number">38273</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" style="padding-bottom:0px ;">Opportunity Score</div>
            <div class="number">
              <div style="border: 3px solid palevioletred; border-radius: 50px; display: flex; width: 20%;
              justify-content: center; padding: 10px; font-size: 24px; ">
                5
              </div>
              <h2 style="padding-left: 10px;font-weight: 20px;">High Demand</h2><br>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>

    <body>
      <table>

        <tr>
          <th style="font-size: 40px; color: palevioletred; padding-left: 15px;"># <i class="fa fa-caret-up"
              aria-hidden="true " style="font-size: 40px;"></i>
          </th>
          <th>Actions</th>
          <th>Product Name <i class="fa fa-arrows-v" aria-hidden="true"></i> </th>
          <th>Brand <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:70px ;"></i></th>
          <th>Price <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:80px ;"></i></th>
          <th>MO. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:50px ;"></i></th>
          <th>D. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>MO. <br>Revenue <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>Date First <br>Available <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:60px ;"></i>
          </th>
          <th>Net</th>
        </tr>
        <tr>
          <td>1</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>2</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>3</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>4</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>5</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>

      </table>
    </body>


  </mat-sidenav-content>
</mat-sidenav-container>-->
<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened">
    <div class="menu">
      <i class="fa fa-arrow-left" style="left: 9px;
      top: 26px; position:absolute;"></i>
      <h3 style="font-family: poppins;left: 57px;
      top: 8px; position: absolute;">Main Menu</h3>
      <div class="cross">
        <button (click)="opened=!opened"
          style="left: 377px; background-color:white; border: white; position: absolute; top: 28px; font-size: 25px; color: #003167; ">
          <i class="fa-solid fa-xmark"></i></button>
      </div>
    </div>
    <hr style="position: absolute;
    width: 420px;
    height: 0px;
    left: 0px;
    top: 70px;
    
    border: 1px solid #AEAEAE;">
    <h1 style="padding-left: 15px; font-size: 18px; font-weight: 600; left: 34px;
    top: 80px; position: absolute; font-family: poppins;">Help</h1>
    <ul>
      <li style="height: 32px ;"><a href="#"><span class="icon"><img src="assets/help.png" style="height: 26px; width:26px; left: 58px;
        top: 134px;
              position: absolute;"> </span>
          <span class=" item" style="font-size:15px ;left: 91px;
          top: 135px; position: absolute; font-family: poppins; ;
          ">Help Center</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
top: 137px; position: absolute;"></i></a></li>
      <li style="height: 32px;"><a href="#"><span class="icon"><img src="assets/contact.png" style="width: 25px; height:25px;left: 58px;
              top: 167px; position: absolute;"></span><span class="item" style="font-size:15px ;left: 91px;
              top: 170px; position: absolute; font-family: poppins;">Contact
            Support</span><i class="fa fa-arrow-right" aria-hidden="true" style="left: 380px;
            top: 170px; position: absolute;"></i></a></li>

    </ul>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar style="background-color: #003167; width: 100%;">
      <button (click)=" opened=!opened"
        style="color: white; background-color: #003167 ; border: #003167; font-family: poppins;"> <i class="fa fa-bars"
          aria-hidden="true"></i>
        Menu
      </button>
      <img src="assets/icon.png" style="padding-left: 40% ; height:55px;  ">
      <i class="fa-solid fa-arrow-rotate-right"
        style="padding-left:43% ; margin:1%; font-size: 25px; color: white;"></i>
      <i class="fa-solid fa-xmark" style="font-size: 30px; color:white;"></i>
    </mat-toolbar>

    <div class="home-content">
      <div class="overview-boxes" style="font-size: poppins;">
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Average Monthly Sales</div>
            <div class="number">235</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Average Sales Rank</div>
            <div class="number">270,483</div>

          </div>

        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Average Price</div>
            <div class="number">6472.45</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Average Rating Number</div>
            <div class="number">38273</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" style="padding-bottom:0px ;">Opportunity Score</div>
            <div class="number">
              <div style="border: 3px solid #003167; border-radius: 50px; display: flex; width: 20%;
              justify-content: center; padding: 10px; font-size: 24px; ">
                5
              </div>
              <h2 style="padding-left: 10px;font-weight: 20px;">High Demand</h2><br>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>

    <body>

      <table id="customers">
        <tr>
          <th style="font-size: 28px; font-weight: 600; color: #0076ff; padding-left:25px ; ">#<i class="fa fa-caret-up"
              aria-hidden="true " style="font-size: 25px;position: absolute;
              width: 17px;
              height: 17px;
              left: 53px;
              top: 30px; "></i></th>
          <th>Actions</th>
          <th>Product Name <img src="assets/Group 3.png" style="float: right;"></th>
          <th>Brand <img src="assets/Group 3.png" style="float:right ;"></th>
          <th>Price <img src="assets/Group 3.png" style="float: right ;"></th>
          <th>Mo. Sales <img src="assets/Group 3.png" style="float: right;"></th>
          <th>D. Sales <img src="assets/Group 3.png" style="float: right;"></th>
          <th>MO. Revenue <img src="assets/Group 3.png" style="float: right;
            "></th>
          <th>Date First Available <img src="assets/Group 3.png" style="float: right ;"></th>
          <th>Net</th>
        </tr>
        <tr>
          <td style="padding-left: 50px ;" data-label="#">1</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo.Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ; ">
          <td style=" padding-left:50px ;" data-label="#">2</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ;">
          <td style="padding-left: 50px;" data-label="#">3</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ;">
          <td style="padding-left: 50px;" data-label="#">4</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ;">
          <td style="padding-left: 50px ; " data-label="#">5</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ;">
          <td style="padding-left: 50px ; " data-label="#">6</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>
        <tr style="font-family:poppins ;">
          <td style="padding-left: 50px ; " data-label="#">7</td>
          <td data-label="Actions"><img src="assets/add (2).png">
            <img src="assets/key (2).png">
            <img src="assets/tag (2).png">
          </td>
          <td data-label="Product Name"><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO Android
          </td>
          <td data-label="Brand">Camoro</td>
          <td data-label="Price">$14.00</td>
          <td data-label="Mo. Sales">134</td>
          <td data-label="D. Sales">134</td>
          <td data-label="Mo. Revenue">134</td>
          <td data-label="Date First Available">21-06-2022</td>
          <td data-label="Net">$90</td>
        </tr>


      </table>






    </body>

  </mat-sidenav-content>
</mat-sidenav-container>