<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div class="menu">
      <i class="fa fa-arrow-left"></i>
      <h3>Main Menu</h3>
      <div class="cross">
        <i class="fa fa-times" aria-hidden="true"></i>
      </div>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <h1 style="padding-left: 15px; font-size: 18px; font-weight: 500;">Help</h1>
    <ul>
      <li><a href="#"><span class="icon"><i class="fa fa-question-circle" aria-hidden="true"
              style="font-size:20px ;"></i></span>
          <span class=" item" style="font-size:15px ;">Help Center</span><i class="fa fa-arrow-right" aria-hidden="true"
            style="float: right;"></i></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-phone" aria-hidden="true"
              style="font-size: 20px;"></i></span><span class="item" style="font-size:15px ;">Contact
            Support</span><i class="fa fa-arrow-right" aria-hidden="true" style="float:right ;"></i></a></li>

    </ul>


  </mat-sidenav>
  <mat-sidenav-content>
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Monthly Sales</div>
            <div class="number">235</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Sales Rank</div>
            <div class="number">270,483</div>

          </div>

        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Price</div>
            <div class="number">6472.45</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic">Avearge Rating Number</div>
            <div class="number">38273</div>

          </div>
        </div>
        <div class="box">
          <div class="left-side">
            <div class="box_topic" style="padding-bottom:0px ;">Opportunity Score</div>
            <div class="number">
              <div style="border: 3px solid palevioletred; border-radius: 50px; display: flex; width: 20%;
              justify-content: center; padding: 10px; font-size: 24px; ">
                5
              </div>
              <h2 style="padding-left: 10px;font-weight: 20px;">High Demand</h2><br>

            </div>


          </div>
        </div>
      </div>
    </div>
    <br>

    <body>
      <table>

        <tr>
          <th style="font-size: 40px; color: palevioletred; padding-left: 15px;"># <i class="fa fa-caret-up"
              aria-hidden="true " style="font-size: 40px;"></i>
          </th>
          <th>Actions</th>
          <th>Product Name <i class="fa fa-arrows-v" aria-hidden="true"></i> </th>
          <th>Brand <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:70px ;"></i></th>
          <th>Price <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:80px ;"></i></th>
          <th>MO. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:50px ;"></i></th>
          <th>D. Sales <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>MO. <br>Revenue <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left: 60px;"></i></th>
          <th>Date First <br>Available <i class="fa fa-arrows-v" aria-hidden="true" style="padding-left:60px ;"></i>
          </th>
          <th>Net</th>
        </tr>
        <tr>
          <td>1</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>2</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>3</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>4</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>
        <tr>
          <td>5</td>
          <td><i class="fa fa-plus-circle" aria-hidden="true"></i>
            <i class="fa fa-key" aria-hidden="true"></i>
            <i class="fa fa-tag" aria-hidden="true"></i>
          </td>
          <td><img src="assets/mobile.jpg" style="height:40px ; width:30px; ;">
            POCO
          </td>
          <td>Camoro</td>
          <td>$14.00</td>
          <td>134</td>
          <td>134</td>
          <td>134</td>
          <td>21-06-2022</td>
          <td>$90</td>
        </tr>

      </table>
    </body>


  </mat-sidenav-content>
</mat-sidenav-container>